@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.loader {
	border-width: 4px;
}
.fab,
.fas {
	margin-right: 8px;
}
